<% if (theme.socialLink.csdn) { %>
    <a href="<%= theme.socialLink.csdn %>" class="tooltipped" target="_blank" data-tooltip="我的技术博客" data-position="top" data-delay="50">
        <i class="fa fa-book"></i>
    </a>
<% } %>

<% if (theme.socialLink.mafengwo) { %>
    <a href="<%= theme.socialLink.mafengwo %>" class="tooltipped" target="_blank" data-tooltip="我的旅游日记" data-position="top" data-delay="50">
        <i class="fa fa-plane"></i>
    </a>
<% } %>

<% if (theme.socialLink.gitee) { %>
     <a href="<%= theme.socialLink.gitee %>" class="tooltipped" target="_blank" data-tooltip="gitee码云博客" data-position="top" data-delay="50">
        <i class="fa fa-gift"></i>
    </a>
<% } %>

<% if (theme.socialLink.email) { %>
    <a href="mailto:<%= theme.socialLink.email %>" class="tooltipped" target="_blank" data-tooltip="我的邮件" data-position="top" data-delay="50">
        <i class="fa fa-envelope-open"></i>
    </a>
<% } %>

<% if (config.feed && config.feed.path == 'atom.xml') { %>
    <a href="<%- url_for('/atom.xml') %>" class="tooltipped" target="_blank" data-tooltip="RSS 订阅" data-position="top" data-delay="50">
        <i class="fa fa-rss"></i>
    </a>
<% } %>